/*
 * Table of contents
 *
 * 1. Global application styles.
 * 2. Application header.
 * 3. Navigation.
 * 3a. Toggles and Filters.
 * 4. Program.
 * 5. People.
 * 6. Informtion page.
 * 7. Settings page.
 * 8. Site footer.
 * 9. Print styles.
 * 10. Debug styles.
 */

/*
 * 1. Global application styles.
 */

:root {
  --main-bg: #fff;
  --main-fg: #000;
  --navigation-button-bg: #ddd;
  --navigation-button-fg: #0d172a;
  --navigation-button-border: #e2e8f0;
  --navigation-button-current-bg: #5b6473;
  --navigation-button-current-fg: #fff;
  --navigation-button-hover-bg: #1e293b;
  --navigation-button-hover-fg: #fff;
  --checkbox-switch-bg: white;
  --checkbox-selected-bg: green;
  --checkbox-unselected-bg: red;
  --bubble-bg: #ffd;
  --bubble-fg: #000;
  --program-item-chevron-collapsed: #ccc;
  --program-item-chevron-expanded: #bbe;
  --program-time-convention-message: grey;
  --program-time-local-message: grey;
  --program-date-line: #888;
  --program-time-line: #ccc;
  --program-item-line: #bbb;
  --program-tags-fg: #888;
  --program-expanded-bg: #eee;
  --permalink-icon-fg: #265c83;
  --permalink-icon-hover-fg: #7fdbff;
  --participant-link-fg: #000;
  --participant-link-visited-fg: #444;
  --settings-outline: #888;
  --footer-line: #888;
  --error-message-fg: tomato;
  --shadow-014: rgba(0, 0, 0, 0.14);
  --shadow-012: rgba(0, 0, 0, 0.12);
  --shadow-02: rgba(0, 0, 0, 0.2);
  --shadow-03: rgba(0, 0, 0, 0.3);
  --shadow-gray: rgba(166, 175, 195, 0.25);
  --debug-online-bg: green;
  --debug-online-fg: white;
  --debug-offline-bg: red;
  --debug-offline-fg: white;
}

img {
  width: 100%;
  height: auto;
}

body {
  margin: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--main-bg);
  color: var(--main-fg);
  max-width: 75rem;
}

.App {
  text-align: left;
  margin: 1rem;
  font-family: "Roboto", "Calibri", "Open Sans", "Lato", "Helvetica Neue", Arial,
    sans-serif;
}

h1,
h2,
h3,
h4,
.item-title,
.date-heading {
  font-family: Candara, Optima, Segoe, "Segoe UI", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*
 * 2. Application header.
 */

header {
  text-align: center;
  justify-content: center;
}

header h1 {
  margin: 1rem 0;
}

/*
 * 3. Navigation.
 */

.navigation ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-inline-start: 0;
  list-style-type: none;
}

.navigation li {
  margin: 0.25em 0;
}

/* CSS for button 81 from https://getcssscan.com/css-buttons-examples */
.navigation li a {
  background-color: var(--navigation-button-bg);
  color: var(--navigation-button-fg);
  border: 0 solid var(--navigation-button-border);
  border-radius: 1rem;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-family: "Basier circle", -apple-system, system-ui, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 0.7rem;
  font-weight: 600;
  line-height: 1;
  padding: 0.6rem 1.1rem;
  text-align: center;
  text-decoration: none;
  text-decoration-thickness: auto;
  transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 2px var(--shadow-gray);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  /* don't line-break individual links */
  white-space: nowrap;
}

.navigation li a.active {
  background-color: var(--navigation-button-current-bg);
  color: var(--navigation-button-current-fg);
}

.navigation li a:hover,
.navigation li a.active:hover {
  background-color: var(--navigation-button-hover-bg);
  color: var(--navigation-button-hover-fg);
}

@media (min-width: 768px) {
  .navigation li a {
    font-size: 1rem;
    padding: 1rem 1.5rem;
    border-radius: 2rem;
  }
}

@media (max-width: 480px) {
  .navigation li a {
    padding: 0.5rem 0.7rem;
    border-radius: 0.5rem;
  }
}

/* page not founds */
.error {
  text-align: center;
  color: var(--error-message-fg);
  font-size: larger;
  margin: 3rem;
}
.error span {
  font-weight: bold;
}

/* 3a. Toggles and Filters.
   style all non-selection checkboxes as toggles
   based on https://www.sitepoint.com/css3-toggle-switch/ */

div.switch-wrapper {
  font-size: smaller;
}
div.switch-wrapper label {
  max-height: 2em;
}

div.switch-wrapper,
div.switch-wrapper ~ div {
  clear: both;
  margin: 0.5em 1em;
}

div.program-empty {
  clear: both;
}

input.switch:empty {
  display: none;
}

input.switch:empty ~ label {
  position: relative;
  float: left;
  line-height: 1.6em;
  text-indent: 3.4em;
  margin: 0.2em 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input.switch:empty ~ label:before,
input.switch:empty ~ label:after {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content: " ";
  width: 3em;
  background-color: var(--checkbox-unselected-bg);
  border-radius: 1em;
  box-shadow: inset 0 0.2em 0 var(--shadow-03);
  -webkit-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
}

input.switch:empty ~ label:after {
  width: 1.4em;
  top: 0.1em;
  bottom: 0.1em;
  margin-left: 0.1em;
  background-color: var(--checkbox-switch-bg);
  border-radius: 0.9em;
  box-shadow: inset 0 -0.2em 0 var(--shadow-02);
}

input.switch:checked ~ label:before {
  background-color: var(--checkbox-selected-bg);
}

input.switch:checked ~ label:after {
  margin-left: 1.5em;
}

/* two rews on large screens, seven on tiny */
.search-filters,
.result-filters {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-inline-start: 0;
  margin: 0.25em;
}

.stack {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-inline-start: 0;
}

.filter-tags,
.filter-locations,
.filter-search,
.filter-options {
  flex-basis: 0;
  flex-grow: 1;
  margin: 0.25em;
}

.filter-tags,
.filter-locations,
.filter-search {
  font-size: 0.8em;
  min-width: 20ch;
  max-width: 50ch;
}

.stack {
  flex-basis: 0;
  flex-grow: 2;
  margin: 0.25em;
}

.filter-expand,
.filter-options {
  white-space: nowrap;
}

.filter-search {
  max-width: 30ch;
  margin: auto 0.25em;
}

.filter-expand {
  margin-top: 0.5em;
  max-width: 100ch;
}

/*
 * 4. Program.
 */

/* styles not applied to participants' subprograms */
/* .program-page {
} */

.program-empty {
  font-style: italic;
  padding-top: 1rem;
}

.program-container {
  margin-top: 0.5rem;
  clear: both;
  display: flex;
  flex-direction: column;
}

.time-convention-message {
  font-weight: bold;
  color: var(--program-time-convention-message);
}

.time-local-message {
  font-style: italic;
  color: var(--program-time-local-message);
}

.date-heading {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid var(--program-date-line);
}

.reset {
  position: relative;
}

.reset-button {
  border: none;
  background: none;
  font-size: 1.1em;
  cursor: pointer;
}

.reset-bubble {
  position: absolute;
  width: 20ch;
  left: -10ch;
}

.pointer {
  height: 4ch;
  width: 4ch;
  background: var(--bubble-bg);
  margin: 0 auto;
  transform: rotate(45deg);
  margin-bottom: -1.5rem;
  position: relative;
  left: 1.5ch;
}

.bubble {
  background-color: var(--bubble-bg);
  color: var(--bubble-fg);
  padding: 1rem;
  min-height: 8rem;
  margin: 0 auto;
  border-radius: 1rem;
  position: relative;
}

.blurred {
  background: var(--shadow-gray);
  filter: blur(1rem);
  z-index: -1;
}

.timeslot {
  margin: 0.5rem;
  border-bottom: 1px solid var(--program-time-line);
  display: flex;
}

.timeslot-time {
  min-width: 8ch;
  vertical-align: top;
  flex-grow: 0;
}

.timeslot-items {
  vertical-align: top;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.item {
  margin-bottom: 0.25rem;
  max-width: 60ch;
  display: flex;
}

.item ~ .item {
  border-top: 1px solid var(--program-item-line);
  padding-top: 0.5rem;
}

.item-selection {
  min-width: 3ch;
  vertical-align: baseline;
  flex-grow: 0;
  text-align: center;
}

.item-entry {
  display: flex;
  max-width: 55ch;
  flex-grow: 1;
  flex-direction: column;
  flex-wrap: wrap;
  word-break: break-word;
}

.item-chevron {
  float: right;
  color: var(--program-item-chevron-collapsed);
  font-size: 1.5rem;
  line-height: 1rem;
  overflow: auto;
}

.item-chevron-expanded {
  color: var(--program-item-chevron-expanded);
}

.item-title {
  font-weight: bold;
}

.item-duration,
.item-location,
.item-tags {
  font-size: 0.9em;
  color: var(--program-tags-fg);
}

.item-tag,
.item-location {
  display: inline-block;
  margin-right: 0.5rem;
}

/* To put duration on its own line, remove this bit. */
.item-duration {
  display: inline-block;
  margin-right: 0.5rem;
  white-space: nowrap;
}

.item-permalink {
  float: right;
}

.item-permalink a,
.item-links a {
  transition: color 0.4s;
  color: var(--permalink-icon-fg);
}
.item-permalink a:visited,
.item-links a:visited {
  color: var(--permalink-icon-fg);
}
.item-permalink a:hover,
.item-links a:hover {
  color: var(--permalink-icon-hover-fg);
}

/* fix link spacing */

.item-links {
  margin-top: 0.3rem;
}

.item-people {
  margin: 0.5rem 0;
}

.item-people ul {
  margin: 0;
  padding: 0;
}

.item-people .participant {
  display: inline-block;
  margin-right: 1rem;
}

.item-people .participant img {
  object-fit: cover;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  vertical-align: middle;
  padding: 0.1rem;
  box-shadow: 0px 2px 2px 0px var(--shadow-014),
    0px 3px 1px -2px var(--shadow-012), 0px 1px 5px 0px var(--shadow-02);
}

.item-people div.participant-image {
  display: inline-block;
}

.program-container .participant .participant-image ~ span {
  padding-left: 0.3rem;
}

.item-details {
  overflow: hidden;
}

/* .item-entry > .item-details.item-details-expanded {
} */

.item-details-expanded {
  background-color: var(--program-expanded-bg);
  padding: 0.5rem;
  border-radius: 0.5rem;
  overflow: auto;
}

.time-convention {
  font-weight: bold;
}

.time-local {
  font-style: italic;
  font-size: 0.9em;
  padding-left: 0.2em;
  max-width: 10ch;
}

/*
 * 5. people.
 */

.people-settings {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-inline-start: 0;
  margin: 0.25em;
}

.people ul {
  column-width: 25ch;
}

.participant a {
  color: var(--participant-link-fg);
}

.participant a:active,
.participant a:hover,
.participant a:visited {
  color: var(--participant-link-visited-fg);
}

.people .participant {
  display: inline-block;
  min-width: 10rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  break-inside: avoid-column;
}

.people .participant {
  list-style-type: none;
}

.people .participant img {
  object-fit: cover;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  vertical-align: middle;
  padding: 0.1rem;
  box-shadow: 0px 2px 2px 0px var(--shadow-014),
    0px 3px 1px -2px var(--shadow-012), 0px 1px 5px 0px var(--shadow-02);
}

.person {
  margin: 1rem 0;
}

.person-back-button {
  border: none;
  background: none;
  font-size: 0.8em;
  cursor: pointer;
}

.person .person-image img {
  max-width: 10rem;
  padding: 0.3rem;
  margin: 0 0.5rem 0.5rem 0;
  box-shadow: 0px 2px 2px 0px var(--shadow-014),
    0px 3px 1px -2px var(--shadow-012), 0px 1px 5px 0px var(--shadow-02);
}

.person-tags {
  font-size: 0.9em;
  color: var(--program-tags-fg);
  margin-bottom: 0.24rem;
}

.person .person-links {
  max-width: 60ch;
  margin-top: 0.5rem;
}

.person .person-links a {
  color: var(--participant-link-fg);
}

.person .person-links a:active,
.person .person-links a:hover,
.person .person-links a:visited {
  color: var(--participant-link-visited-fg);
}

.person .person-bio {
  max-width: 60ch;
}

.person .time-local-message {
  margin-top: 1rem;
}

/* program styles only applied to participants' subprograms */
/* .person .program-container {
} */

/*
 * 6. Information page.
 */

.info {
  margin: 1rem;
  max-width: 60ch;
}

/*
 * 7. Settings page.
 */

.settings-group {
  margin: 0.5em 0;
  padding: 0.5rem;
  border: 1px solid var(--settings-outline);
  border-radius: 0.5rem;
}

.settings-head {
  margin-bottom: 0.5em;
  font-weight: bold;
  font-size: 1.1em;
}

.settings-radio {
  display: grid;
}

/*
 * 8. Site footer.
 */

footer {
  margin-top: 2rem;
  /* often there is already a border before this element so omit:
  border-top: 1px solid var(--footer-line); */
  text-align: right;
}

/*
 * 9. Print styles.
 */

@media print {
  /* fix any odd coloration here */

  /* hide interactive bits */

  .navigation,
  .filter,
  .people-settings {
    display: none;
  }

  .participant a {
    text-decoration: none;
  }
}

/* some styling for the non-interactive version of the schedule. */

.uninteractive .item-selection {
  display: none;
}

.uninteractive .item-details {
  background-color: var(--program-expanded-bg);
  max-height: 40rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  overflow: auto;
}

div.uninteractive {
  display: flex;
  flex-direction: column;
}

div.uninteractive div.program-page,
div.uninteractive div.info {
  width: 100%;
}

@media screen and (min-width: 1000px) {
  div.uninteractive {
    flex-direction: row;
  }

  div.uninteractive div.program-page,
  div.uninteractive div.info {
    width: 50%;
  }
}

/*
 * 10. Debug mode styles.
 */

.debug {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.25rem;
  z-index: 2;
}

.debug-online {
  background-color: var(--debug-online-bg);
  color: var(--debug-online-fg);
}

.debug-offline {
  background-color: var(--debug-offline-bg);
  color: var(--debug-offline-fg);
}

.debug span {
  padding: 0 1em;
}
