/*
 * Table of contents
 *
 * 1. Global application styles.
 * 2. Application header.
 * 3. Navigation.
 * 4. Program.
 * 5. People.
 * 6. Informtion page.
 * 7. Site footer.
 */


/*
 * 1. Global application styles.
 */

.App {
  text-align: left;
  margin: 1rem;
  font-family: 'Roboto', 'Open Sans', 'Lato', 'Helvetica Neue', Arial, sans-serif;
}

h1, h2, h3, h4, .item-title, .date-heading {
  font-family: Candara, Optima, Segoe, 'Segoe UI', sans-serif;
}

/*
 * 2. Application header.
 */

header {
  text-align: center;
}

header h1 {
  margin: 1rem 0;
}

/*
 * 3. Navigation.
 */

 .navigation ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-inline-start: 0;
  list-style-type: none;
}

.navigation li {
  margin: 0;
}

/* CSS for button 81 from https://getcssscan.com/css-buttons-examples */
.navigation li a {
  background-color: #fff;
  border: 0 solid #e2e8f0;
  border-radius: 1rem;
  box-sizing: border-box;
  color: #0d172a;
  cursor: pointer;
  display: inline-block;
  font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 0.7rem;
  font-weight: 600;
  line-height: 1;
  padding: .6rem 1.1rem;
  text-align: center;
  text-decoration: none;
  text-decoration-thickness: auto;
  transition: all .1s cubic-bezier(.4, 0, .2, 1);
  box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.navigation li a:hover {
  background-color: #1e293b;
  color: #fff;
}

@media (min-width: 768px) {
  .button-81 {
    font-size: 1.125rem;
    padding: 1rem 2rem;
  }
}

.filter-locations {
  display: inline-block;
  font-size: .8em;
  padding: 0 0.5em 0.5em 0;
}

.filter-tags {
  display: inline-block;
  font-size: .8em;
  padding: 0 0.5em 0.5em 0;
}

.filter-total {
  margin: 0.3rem 0 1rem 0;
}

.local-time-checkbox,
.twelve_hour_time-checkbox {
  float: right;
}

/* style all non-selection checkboxes as buttons */
input[type=checkbox] ~ label {
  border: 2px solid red;
  border-radius: 1rem;
  padding: 0.2rem 0.4rem;
  margin: 0 0.1rem 0.2rem 0;
  color: red;
  font-size: smaller;
  text-decoration: line-through;
  display: inline-block;
}
input[type=checkbox]:checked ~ label {
  color: green;
  border-color: green;
  text-decoration: none;
}
input[type=checkbox] {
    display:none;
}
input.selection-control {
    display:unset;
}

/*
 * 4. Program.
 */

.program-container {
  margin-top: 0.5rem;
  clear: both;
  display: grid;
}

.program-page {
}

.person .time-local-message {
  margin-top: 1rem;
}

.date-heading {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid black;
}

.timeslot {
  margin: 0.5rem;
  border-bottom: 1px solid gray;
  display: flex;
}

.timeslot-time {
  display: inline-block;
  min-width: 5ch;
  vertical-align: top;
  flex-grow: 0;
}

.timeslot-items {
  vertical-align: top;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.item {
  margin-bottom: 0.25rem;
  max-width: 60ch;
}

.item ~ .item {
  border-top: 1px solid #bbb;
  padding-top: 0.5rem;
}

.item-selection {
  display: inline-block;
  min-width: 5ch;
  vertical-align: top;
  flex-grow: 0;
}

.item-entry {
  display: inline-block;
  max-width: 55ch;
  flex-grow: 1;
}

.item-title {
  font-weight: bold;
  white-space: normal;
}

.item-location,
.item-tags {
  font-size: 0.9em;
  color: #888;
}

.item-tag {
  display: inline-block;
  margin-right: 0.5rem;
}

.item-people {
  margin: 0.5rem 0;
}

.item-people ul {
  margin:0;
  padding:0;
}

.item-people .participant {
  display: inline-block;
  margin-right: 1rem;
}

.item-people .participant img {
  max-width: 2rem;
  border-radius:50%;
  vertical-align:middle;
  padding: 0.1rem;
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.14) , 0px 3px 1px -2px rgba(0,0,0,0.12) , 0px 1px 5px 0px rgba(0,0,0,0.2);
}

.item-people div.participant-image {
  display: inline-block;
}

.participant .participant-image ~ span {
 padding-left: 0.3rem;
}

.item-details {
  transition-property: max-height;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  max-height: 0;
  overflow: hidden;
}

.item-entry > .item-details.item-details-expanded {
  background-color: #F0F0F0;
}

.item-details-expanded {
  max-height: 40rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.time-convention {
  font-weight: bold;
}

.time-local {
  font-style: italic;
  font-size: 0.9em;
  padding-left: 0.2em;
}

/*
 * 5. people.
 */

.people ul {
  column-width: 25ch;
}

.participant a {
  color: black;
}

.participant a:active,
.participant a:hover,
.participant a:visited {
  color: #444;
}

.people .participant {
  min-width: 10rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  break-inside: avoid;
}

.people .participant {
  list-style-type: none;
}

.people .participant img {
  max-width: 5rem;
  border-radius:50%;
  vertical-align:middle;
  padding: 0.1rem;
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.14) , 0px 3px 1px -2px rgba(0,0,0,0.12) , 0px 1px 5px 0px rgba(0,0,0,0.2);
}

.person {
  margin: 1rem 0;
}

.person .person-image img {
  max-width: 10rem;
  padding: 0.3rem;
  margin: 0 0.5rem 0.5rem 0;
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.14) , 0px 3px 1px -2px rgba(0,0,0,0.12) , 0px 1px 5px 0px rgba(0,0,0,0.2);
}

.person .person-bio {
  max-width: 60ch;
}

/*
 * 6. Information page.
 */

 .info {
  margin: 1rem;
  max-width: 60ch;
}

/*
 * 7. Site footer.
 */

 footer {
  margin-top: 2rem;
  border-top: 1px solid gray;
}
