/*
 * Dark mode styles.
 */

:root {
  --main-bg: #000;
  --main-fg: #fff;
  --navigation-button-bg: #444;
  --navigation-button-fg: #ddd;
  --navigation-button-border: #e2e8f0;
  --navigation-button-current-bg: #5b6473; /*#525e73; #343c4b;*/
  --navigation-button-current-fg: #fff;
  --navigation-button-hover-bg: #1e293b;
  --navigation-button-hover-fg: #fff;
  --checkbox-switch-bg: #444;
  --checkbox-selected-bg: green;
  --checkbox-unselected-bg: red;
  --filter-bg: var(--main-bg);
  --filter-fg: var(--main-fg);
  --filter-border: var(--search-border);
  --filter-select-bg: #bbe;
  --filter-select-fg: #000;
  --search-border: hsl(0, 0%, 40%);
  --program-item-chevron-collapsed: #ccc;
  --program-item-chevron-expanded: #bbe;
  --program-time-convention-message: grey;
  --program-time-local-message: grey;
  --program-date-line: #888;
  --program-time-line: #ccc;
  --program-item-line: #bbb;
  --program-time-bg: #444;
  --program-tags-fg: #bbb;
  --program-expanded-bg: #333;
  --permalink-icon-fg: #7fdbff;
  --permalink-icon-hover-fg: #b9da91;
  --participant-bg: #333;
  --participant-link-fg: #eee;
  --participant-link-visited-fg: #ccc;
}
