/*
 * Dark mode styles.
 */

:root {
  --main-bg: #28303d;
  --main-fg: #fff;
  --checkbox-switch-bg: #444;
  --filter-bg: var(--main-bg);
  --filter-fg: var(--main-fg);
  --filter-border: var(--search-border);
  --filter-select-bg: #a9d2ea;
  --filter-select-fg: #000;
  --search-border: hsl(0, 0%, 40%);
  --program-time-convention-message: grey;
  --program-time-local-message: grey;
  --program-tags-fg: #d7ebf8;
  --program-time-bg: #0277b6;
  --program-expanded-bg: #364453;
  --permalink-icon-fg: #D6EBF8;
  --permalink-icon-hover-fg: #AAE090;
  --participant-link-fg: #eee;
  --participant-link-visited-fg: #d7ebf8;
  --participant-bg: #364453;
}
