/*
 * Dark mode styles.
 */

:root {
  --main-bg: #000;
  --main-fg: #fff;
  --sidebar-bg: #1e2130;
  --sidebar-border: #2d3148;
  --sidebar-link-fg: white;
  --sidebar-link-current-bg: rgb(77, 74, 186);
  --sidebar-link-current-fg: #fff;
  --sidebar-link-hover-bg: rgb(43, 40, 112);
  --sidebar-link-hover-fg: #fff;
  --star-color: rgb(162, 160, 217);
  --navigation-button-bg: rgb(77, 74, 186);
  --navigation-button-fg: white;
  --header-fg: #ccc;
  --navigation-button-border: #e2e8f0;
  --navigation-button-current-bg: rgb(77, 74, 186);
  --navigation-button-current-fg: #fff;
  --navigation-button-hover-bg: rgb(43, 40, 112);
  --navigation-button-hover-fg: #fff;
  --checkbox-switch-bg: #444;
  --checkbox-selected-bg: green;
  --checkbox-unselected-bg: red;
  --filter-bg: var(--main-bg);
  --filter-fg: var(--main-fg);
  --filter-border: var(--search-border);
  --filter-select-bg: #bbe;
  --filter-select-fg: #000;
  --search-border: hsl(0, 0%, 40%);
  --program-item-chevron-collapsed: rgb(77, 74, 186);
  --program-item-chevron-expanded: rgb(43, 40, 112);
  --program-time-convention-message: grey;
  --program-time-local-message: grey;
  --program-date-line: #888;
  --program-time-line: #ccc;
  --program-item-line: #bbb;
  --program-time-bg: #444;
  --program-tags-fg: #bbb;
  --program-expanded-bg: #333;
  --permalink-icon-fg: #7fdbff;
  --permalink-icon-hover-fg: #b9da91;
  --participant-bg: #333;
  --link-fg: rgb(162, 160, 217);
  --link-hover-fg: rgb(140, 137, 220);
  --participant-link-fg: #eee;
  --participant-link-visited-fg: #ccc;
}

.selection-btn {
  opacity: 0.5;
}

.selection-btn:hover {
  opacity: 0.75;
}
